.btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1db84b;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-decoration: none;
}

 .btn:hover {
    background-color: #0cd638;
}


 .btn.btn-danger {
    background-color: #fa1010;
}

 .btn.btn-danger:hover {
    background-color: #fa4710;
}

 .btn.btn-secondery {
    background-color: #d3d3d3;
}

 .btn.btn-secondery:hover {
    background-color: #a1a1a1;
}




.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #fdfdfd63;
    backdrop-filter: blur(16px);
}
.contener {
    position: relative;
    margin-top: 100px;
    margin-left: 200px;
    border: 2px solid #1db84b;
    width: 70%;
    min-height: 70vh;
    background-color: #f6fdf5;
    overflow: hidden;
    border-radius: 16px;
    padding: 20px;
    width: 30%;
    min-height: 30vh;
    margin-top: 200px;
    margin-left: 400px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
 
}
.contener h1 {
    color: #fa1010;
}
.contener .btn:nth-child(2) {
    margin-left: 16px;
}